/* Neon effect CSS code */
.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 20px #ff00de,
               0 0 30px #ff00de,
               0 0 40px #ff00de;
}

.neon:hover {
  color: #ff00de;
  text-shadow: 0 0 5px #ff00de,
               0 0 10px #ff00de,
               0 0 20px #ff00de,
               0 0 30px #fff,
               0 0 40px #fff;
}